.container-wide {
  padding: 0 15px;
}

@media (min-width: 767.98px) {
  .container-wide {
    padding: 0 calc(50% - 323px);
  }
}

@media (min-width: 991.98px) {
  .container-wide {
    padding: 0 calc(50% - 417.5px);
  }
}

@media (min-width: 1199.98px) {
  .container-wide {
    padding: 0 calc(50% - 505px);
  }
}

.container-narrow {
  padding: 0 30px;
}

@media (min-width: 575.98px) {
  .container-narrow {
    padding: 0 calc(50% - 192px);
  }
}

@media (min-width: 767.98px) {
  .container-narrow {
    padding: 0 calc(50% - 256px);
  }
}

@media (min-width: 991.98px) {
  .container-narrow {
    padding: 0 calc(50% - 330.5px);
  }
}

@media (min-width: 1199.98px) {
  .container-narrow {
    padding: 0 calc(50% - 400px);
  }
}

.container-variable {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container-variable {
    padding: 0 calc(50% - 242.5px);
  }
}

@media (min-width: 767.98px) {
  .container-variable {
    padding: 0 calc(50% - 323px);
  }
}

@media (min-width: 991.98px) {
  .container-variable {
    padding: 0 calc(50% - 330.5px);
  }
}

@media (min-width: 1199.98px) {
  .container-variable {
    padding: 0 calc(50% - 400px);
  }
}
