/* p.s. отзывчивые шрифты уменьшаются, т.е. резина только для мобильников! */
/*в функции calc() высчитывается уравнение с двумя неизвестными, модель которой я спер с хабра. коэффициенты взяты с учетом пропорции 480-1200(480 - 40% от 1200), т.е. при ширине экрана 480px шрифты уменьшаются на 40 или 20 процентов от оригинальных размеров при ширине 1200px и более*/
/*модель такая - заголовки уменьшаются на 40%, обычные шрифты на 20% - отлично подходит для мобильников*/

html {
  scroll-behavior: smooth;
  font-size: calc((100vw - 480px)/(1200 - 480) * (16 - 12.8) + 12.8px);
  line-height: calc((100vw - 480px)/(1200 - 480) * (30 - 24) + 24px);
}

/*плавная прокрутка в браузерах*/

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #444444;
  background-color: white;
}

/* размеры шрифта */

.text-promo {
  font-size: 4.375rem;
  line-height: 4.475rem;
}

@media (max-width: 767.98px) {
  .text-promo {
    font-size: 2.5rem;
    line-height: 3.81rem;
  }
}

.text-smaller {
  font-size: 0.87rem;
  line-height: 1.71rem;
}

.text-title_lg,
.text-title_md {
  font-size: 2.5rem;
  line-height: 3.81rem;
}

.text-title_sm {
  font-size: 1.25rem;
  line-height: 1.87rem;
}

.text-label,
.text-btn {
  font-size: 1rem;
  line-height: 1.25rem;
}

/* размеры шрифта /  */

/* контейнеры */

.container-narrow, .container-wide {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 767.98px) {
  .container-narrow {
    width: 66.67%;
  }
  
  .container-wide {
    width: 84.17%;
  }
}

/* контейнеры /  */

.header {
  /* for non-retina (compressed) */
  background-image: url('../img/wheat-back@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {

  /* for retina(compressed) */
  .header {
    background-image: url('../img/wheat-back@2x.jpg');
  }
}

.header,
.footer {
  margin: 0;
  line-height: auto;
  padding-top: calc(1vh * 8);
}

.promo {
  margin: 0;
  padding: 0;
  margin-top: calc(1vh * 18);
  text-align: center;
  /* font-family: "Arial", sans-serif; */
  font-weight: bold;
  color: #ffffff;
}

.header {
  color: #c3c3c3;
  background-color: #363636;
}

.footer {
  background-color: #000;
  color: #c3c3c3;
}

.responsive-logo {
  width: 100%;
  height: auto;
}

@media (max-width: 767.98px) {

  .header>.variableContainer,
  .footer>.containerWide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-top,
  .footer-top {
    align-self: flex-start;
    flex-direction: column;
    align-items: stretch;
  }

  .promo {
    margin: 0 auto;
  }

  .footer-bottom {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 60%;
  }
}

@media (max-width: 481px) {

  .header>.variableContainer,
  .footer>.containerWide {
    flex-direction: column;
    align-items: center;
  }

  .header-top,
  .footer-top {
    align-self: center;
  }

  .promo {
    margin-top: auto;
  }

  .wrapper-min .titleMin {
    margin-top: 5%;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .assortmentTable th:not(:first-of-type):not(:last-of-type),
  .assortmentTable tr>td:not(:first-of-type):not(:last-of-type) {
    padding-left: 5px;
    text-align: center;
    white-space: nowrap;
  }
}

.header-logo,
.footer-logo {
  margin: 0;
  padding: 0;
}

.headerMenu,
.footerMenu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headerMenu a,
.footerMenu a {
  text-transform: uppercase;
  line-height: auto;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-basis: content;
  flex-grow: 1;
  flex-shrink: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.headerMenu a:hover,
.footerMenu a:hover {
  color: #ffcb78;
  border-bottom-color: #ffffff;
}

.headerMenu a:active .footerMenu a:active {
  color: rgba(255, 203, 120, 0.3);
  border-bottom-color: #ffffff;
}

@media (max-width: 767.98px) {

  .headerMenu a:not(:first-of-type),
  .footerMenu a:not(:first-of-type) {
    border-top: none;
  }

  .headerMenu a,
  .footerMenu a {
    padding: 3.33%;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-title_lg, 
.text-title_md {
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.text-title_sm {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-style: normal;
  padding: 0;
}

/*вертикальные отступы для девайсов с малым разрешением. рассчеты отступов: высчитываем процентное соотношение margin-max к hmax. затем высчитываем этот процент из hmin. это будет margin-min. затем высчитываем процентное соотношение margin-min к hmax. полученный процент - 2 число в calc. */
/* .new-products {margin-top: calc(1vh * 7);} */
.text-title_lg {
  margin-bottom: calc(1vh * 6.67);
  padding-top: calc(1vh * 8);
}

.new-thing,
.order p {
  margin-bottom: calc(1vh * 9.78);
}

.assortment,
.order {
  padding-bottom: calc(1vh * 9.78);
}

.text-title_md {
  margin-top: calc(1vh * 0.9);
}

.text-title_sm {
  margin-bottom: calc(1vh * 2.22);
}

.new-products-btns, .footer-bottom, .wrapper-min {
  margin-top: calc(1vh * 5.33);
}

.stats {
  margin-top: calc(1vh * 2.22);
}

.advantagesItem {
  margin-top: calc(1vh * 6.67);
}

.advantagesList,
.press {
  padding-bottom: calc(1vh * 6.67);
}

.history-section {
  margin-bottom: calc(1vh * 6.22);
}

@media (min-width: 767.98px) {
  .header {
    min-height: 510px;
  }

  .header-top,
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .headerMenu,
  .footerMenu {
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
  }

  .headerMenu a:first-of-type,
  .footerMenu a:first-of-type {
    justify-content: flex-start;
  }

  .headerMenu a:last-of-type,
  .footerMenu a:last-of-type {
    justify-content: flex-end;
  }

  .advantagesItem>.advantages-content p {
    max-width: 210px;
    margin: 0;
  }

  .order-form {
    width: 78.75% !important;
  }

  .order-element {
    flex-basis: 100% !important;
  }

  .mainNumber,
  .extraNumber {
    flex-basis: 40% !important;
  }

  .footer-copyright {
    margin: 0 5%;
    flex-shrink: 1;
  }
}

.price {
  color: black;
}

/* кнопки */
.btn {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid;
  outline: none;
}

@media (max-width: 800px) {
  .btn {
    border: 1px solid;
  }
}

.btn:disabled {
  opacity: 0.3;
  transition: none;
}

.btn-more {
  color: #834700;
  border-color: #834700;
  transition: all 250ms ease-in-out;
}

.btn-more:hover {
  color: #6a3900;
  border-color: #6a3900;
}

.btn-more:active {
  color: rgba(106, 57, 0, 0.3);
  border-color: rgba(106, 57, 0, 0.3);
}

.btn-buy {
  color: #ffffff;
  background-color: #834700;
  border-color: #834700;
  transition: all 250ms ease-in-out;
}

.btn-buy:hover {
  color: #ffffff;
  border-color: #6a3900;
  background-color: #6a3900;
}

.btn-buy:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #6a3900;
  background-color: #6a3900;
}

.btn-read {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
  background-color: none;
  transition: all 250ms ease-in-out;
}

.btn-read:hover {
  border-color: #a5a097;
  background-color: #a5a097;
  color: #ffffff;
}

.btn-read:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #8f8a81;
  border-color: #8f8a81;
}

/* -------- */

.bottles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new-thing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 204px;
  /*400 - 60(padding-left+right) - 40%*/
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 3.75%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 767.98px) {
  .new-thing:not(:first-of-type) {
    border-left: none;
  }
}

.stats {
  position: relative;
}

.tableIngredients {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: calc((100vw - 480px)/(1200 - 480) * (149 - 119.2) + 119.2px);
    /*-20%*/
}

.statsTable {
  border-collapse: collapse;
}

.statsTable td {
  text-transform: uppercase;
  color: black;
  font-size: inherit;
  line-height: calc((100vw - 480px)/(1200 - 480) * (38 - 30.4) + 30.4px);
    /*-20%*/
  font-weight: bold;
  padding-left: 9px;
  border: 1px solid #e5e5e5;
}

.bottle-pic {
  width: 80%;
  max-width: 319px;
  height: auto;
}

.price {
  margin-left: 7.6%;
  color: black;
}

.advantages {
  background-color: #ffcb78;
}

.advantagesList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.advantagesItem {
  flex-basis: 400px;
  /*400 - 40%*/
  flex-grow: 1;
  flex-shrink: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e5b66c;
}

.advantages-content {
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 15px;
}

@media (max-width: 639.68px) {
  .advantagesList {
    flex-wrap: wrap;
  }

  .advantages-content {
    align-items: center;
  }

  .advantages-content p {
    text-align: center;
  }
}

.advantagesItem:last-of-type .advantages-content {
  border-right: none;
}

.history-section dt,
.history-section dd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.history-section dd {
  align-items: center;
}

.history-section dd p {
  min-width: 294px;
  max-width: 61%;
}

@media (max-width: 991px) {
  .history-section dd p {
    max-width: 37%;
  }
}

.history-section cite a {
  color: #8d5926;
}

.history-section cite a:hover {
  color: #6a3900;
}

.history-section cite a:active {
  color: rgba(131, 71, 0, 0.3);
}

@media screen and (min-width: 555px) and (max-width: 575px) {
  .history-section dd p {
    order: 1;
  }

  .history-section dd img {
    order: 2;
  }
}

@media (min-width: 767.98px) {
  .history-section dd p {
    order: 1;
  }

  .history-section dd img {
    order: 2;
  }
}

.press {
  background-color: #ede5d8;
  position: relative;
}

.press::before {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 5.13%;
  height: 5.17%;
  content: url("../img/quotes.png");
}

.press blockquote {
  padding: 0;
  margin: 0;
}

.assortmentTable {
  width: 100%;
  border-collapse: collapse;
}

.assortmentTable tr {
  border-bottom: 1px solid #e5e5e5;
}

.assortmentTable th {
  font-size: 11px;
  line-height: 30px;
  color: #999999;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: calc(1vh * 4.55);
}

.assortmentTable td {
  text-transform: uppercase;
  padding: calc(1vh * 2.58) 0;
}

.assortmentTable sup {
  color: white;
  font-size: 0.5em;
  line-height: inherit;
  font-weight: bold;
  background-color: black;
  border: 1px solid black;
  padding: 2px 3px;
  margin-left: 4.88%;
  border-radius: 10%;
}

.assortmentTable td:first-child {
  color: black;
  font-weight: bold;
}

.assortmentTable td:last-child,
.assortmentTable th:last-child {
  text-align: right;
}

.order {
  background-color: #ffcb78;
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order-element,
.order-checkbox {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 100%;
  margin-bottom: 1.56em;
}

.mainNumber,
.extraNumber {
  flex-grow: 0.3;
}

.order-element input,
.order-element select,
.order-element textarea {
  background-color: #e5b66c;
  border: none;
  min-height: 3.2em;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: inherit;
  line-height: 20px;
  text-transform: uppercase;
  resize: none;
  transition: all 250ms ease-in;
}

.order-element textarea {
  text-transform: none;
  font-family: inherit;
}

.order input:hover,
.order select:hover,
.order textarea:hover {
  background-color: #d9ad66;
}

.order input:focus,
.order select:focus,
.order textarea:focus {
  background-color: #ffffff;
  color: black;
  padding-left: 20px;
}

.comment {
  position: relative;
}

.counter
/*счетчик символов для скрипта*/
  {
  display: none;
  position: absolute;
  top: 88%;
  right: 3%;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.checkbox input {
  /* прячу дефолтный чекбокс */
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.specialCheckbox {
  margin-top: 1.5em;
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}

.specialCheckbox::before {
  /* нужен для того, чтоб неактивный фон чекбокса не пропадал */
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #d9ad66;
}

.specialCheckbox::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #e5b66c;
}

.checkbox input:hover+.specialCheckbox::after {
  background-color: #d9ad66;
}

.checkbox input:checked+.specialCheckbox::after {
  /* создаем галочку */
  top: -4px;
  left: 10px;
  width: 13px;
  height: 6px;
  border-radius: 1px;
  background-color: #d9ad66;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wrapper-min {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.wrapper-min .btn-read {
  order: 1;
}

.wrapper-min .titleMin {
  order: 2;
}

.footer-bottom {
  display: flex;
}

@media screen and (min-width: 767.98px) {
  .footer-bottom {
    justify-content: space-between;
    align-items: center;
  }
}

.social {
  display: grid;
  grid-template-rows: minmax(46px, 69px);
  grid-template-columns: repeat(3, minmax(46px, 69px));
}

.social-btn {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #332d24;
}

.social-btn:nth-of-type(2) {
  border-left: none;
  border-right: none;
}

.social-btn-in {
  grid-column: 1 / 2;
  background-image: url("../img/icon-insta.png");
  background-position: center;
  background-repeat: no-repeat;
}

.social-btn-fb {
  grid-column: 2 / 3;
  background-image: url("../img/icon-fb.png");
  background-position: center;
  background-repeat: no-repeat;
}

.social-btn-vk {
  grid-column: 3 / 4;
  background-image: url("../img/icon-vk.png");
  background-position: center;
  background-repeat: no-repeat;
}

.social-btn-html {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url("../img/htmlacademy.png");
  background-position: center;
  background-repeat: no-repeat;
}

.footer-dev {
  display: flex;
  align-items: center;
  flex-basis: 36%;
  flex-grow: 2;
}

.footer-dev p {
  margin-left: 6%;
  white-space: nowrap;
}


@media (max-width: 767.98px) {
  .footer-copyright p {
    text-align: center;
  }
}

.popup /*специальный класс для скрипта*/ {
  cursor: auto;
  position: absolute;
  z-index: 2;
  top: 50px;
  line-height: normal;
  font-weight: normal;
  text-transform: none;
  padding: 15px;
  border: 1px solid #6a3900;
  border-radius: 5px;
  background-color: rgb(255, 198, 106);
  color: #444444;
}

.popup-close /*тоже для скрипта*/ {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  line-height: 10px;
  padding: 5px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.popup-close:hover {
  background-color: rgba(131, 71, 0, 0.3);
}

.popup-close:active {
  background-color: rgba(97, 53, 0, 0.37);
}