# Created by https://www.gitignore.io/api/adobe,visualstudiocode
# Edit at https://www.gitignore.io/?templates=adobe,visualstudiocode

### Adobe ###
# Adobe Source Files
*.psd
*.ai
*.indd
*.prproj
*.aep

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# mac os temp dirs ignore
.DS_Store

# End of https://www.gitignore.io/api/adobe,visualstudiocode
